# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
syntax: glob
build/*
build-*
CMakeLists.txt.user*
*.dll
*.exe
*.pdf
